.dayliExcersise {
    margin-bottom: 20px;
}

.ration-addition{
    border-top: 1px solid #e0ccff;
}

.ration-addition table thead th,
.ration-addition table tbody td {
    border-left: 1px solid #e0ccff;
    padding: 0 15px;
}
.title-ration{
    margin-top: 3px;
    margin-bottom: 0px;
}

.title-description{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-style: italic;
}

.ration-element{
    border-bottom: 1px dashed #e0ccff;
    padding-bottom: 20px;
}

.borderLeftRight{
    border-left: 1px dashed #e0ccff;
    border-right: 1px dashed #e0ccff;
    padding: 10px;
}
